:root {
    --green-color: #90EE90;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

/* Sidebar Section */

.sidebar {
    grid-column: 1 / 2;
    padding: 20px 30px;
    background-color: var(--green-color);
    font-weight: bold;
}

.title-sidebar h2 {
    font-size: 2rem;
}

button {
    margin-top: 40px;
    border-radius: 15px;
    padding: 10px 20px;
    border: 2px solid black;
}

button:hover {
    background-color: #bccbde;
}

/* Book Section */

.content {
    grid-column: 2 / 3;
    background-color: #bccbde;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.content .card {
    background-color: #ffff;
    color: black;
    text-align: center;
    height: 200px;
    max-width: 500px;
}

/* Form Pop-Up Menu */

.inputs {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}